@keyframes dx-datagrid-highlight-change {
    from {
        background-color: #efefef;
    }
    50% {
        background-color: #efefef;
    }
}
.dx-datagrid-cell-updated-animation {
    animation: dx-datagrid-highlight-change 1s;
} 
.dx-datagrid-row-inserted-animation {
    animation: dx-datagrid-highlight-change 1s;
}